  /* Add a black background color to the top navigation */
 .topnav {
    background-color: white;
    display: flex;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  
  .topnav .icon {
    color: hsl(0, 0%, 75%);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  #myLinks {
   background-color:hsl(257, 27%, 26%);
   border-radius: 15px;
   display: none;
   height: auto;
   margin-right: 18px;
   margin-top: -290px;;
   padding-bottom: 30px;
   padding-top: 18px;
   position: absolute;
 }

  #myLinks a {
    color:white;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 18px;
    padding-top: 18px;
    text-decoration: none;
    width: 100%;
  }

  .login{
    border-top: 1px solid hsl(0, 0%, 75%);
    margin: 12px 0px;
  }

  body {
    font-family: 'Poppins';
    margin: 0;
    text-align: center;
    overflow-x: hidden;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 90%;
  }

  .title1{
    color: #34413D;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
  }

  .subtitle1{
    color: hsl(0, 0%, 75%);
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
 }

  .button{
    background-color:hsl(180, 66%, 49%);
    border: none;
    color:white;
    display: inline-block;
    font-weight: 700;
    margin: 4px 0px;
    text-align: center;
    text-decoration: none;
  }

  .buttonG{
    border-radius: 35px;
    font-size: 20px;
    margin-bottom: 100px;
    padding: 15px 30px 15px 30px;
  }

  .buttonS{
    border-radius: 35px;
    font-size: 18px;
    padding: 15px 30% 15px 30%;
  }

 .img{
    width: 160%;
 }

 #inputRow{
    align-items: center;
    display: flex;
 }
  
 #inputBox{
    background-color: hsl(257, 27%, 26%);
    background-image: url('images/bg-shorten-mobile.svg');
    background-position: top right;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: -50px;
    position: absolute;
 }

 .inputLink{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    text-align: left;
 }

 .buttonSh{
    align-self: center;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 14px 92px 14px 92px;
 }

 #containerG{
    background-color: hsl(225, 33.3%, 95.3%);
    width: 100%;
 }

 #featuresRow{
    display: flex;
    text-align: center;
 }

 .title2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 172px;
}

.subtitle2{
  margin-top: 0;
  color: hsl(0, 0%, 75%);
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
}

.card{
  background-color:white;
  font-weight: 500;
  margin: 90px 25px 70px 25px;
  padding: 40px 25px 40px 25px;
  position: relative;
  width: 280px;
}

.title3{
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 0;
}

.subtitle3{
  color: hsl(0, 0%, 75%);
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  }

  #containerBoost{
    background-color: hsl(257, 27%, 26%);
    background-image: url(images/bg-boost-mobile.svg);
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 100%;
  }

  #cardsRow img{
    background-color: hsl(257, 27%, 26%);
    border-radius: 50px;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -42px;
  }

  .line{
    background-color: hsl(180, 66%, 49%);
    left: 50%;
    margin-top: -70px;
    padding: 50px 4px 10px 4px;
    position: absolute;
    transform: translate(-50%);
  }

  .title4{
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top:100px;
    text-align: center;
}

  .buttonGB{
    border-radius: 35px;
    font-size: 20px;
    margin: 18px 80px 90px 80px;
    padding: 15px 50px 15px 50px;
  }

  #containerFooter{
    background-color: hsl(260, 8%, 14%);
    margin-top: 0;
    width: 100%;
  }

  .footerLogo{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(172deg) brightness(106%) contrast(105%);
    margin-top: 50px;
  }

  #containerFooter .card{
    background-color: hsl(260, 8%, 14%);
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px 25px 0px 25px;
  }

  .card p{
    color:white;
    font-weight: 700;
    text-align: center;
  }

  ul{ 
    padding-left: 0;
  }

  li{
    color: hsl(0, 0%, 75%);
    font-size: 15px;
    list-style: none;
    margin-bottom: 6px;
    margin-top: 6px;
  }

  .card a{
    padding-left: 10px;
    padding-right: 10px;
  }