 .topnav {
    background-color: white;
    display: flex;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  
  .topnav .icon {
    color: hsl(0, 0%, 75%);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  #myLinks {
   background-color:hsl(257, 27%, 26%);
   border-radius: 15px;
   display: none;
   height: auto;
   margin-right: 18px;
   margin-top: -290px;
   padding-bottom: 30px;
   padding-top: 18px;
   position: absolute;
  }

  #myLinks a {
    color:white;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 18px;
    padding-top: 18px;
    text-decoration: none;
    width: 100%;
  }

  .login{
    border-top: 1px solid hsl(0, 0%, 75%);
    margin: 12px 0px;
  }

  .webnavbar{
    display: none;
  }

  .webnavbar ul {
    align-items: center;
    background-color: white;
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .webnavbar li a {
    color:  hsl(0, 0%, 75%);
    display: block;
    font-weight: 700;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    
  }

  .webnavbar li a:hover{
    color: hsl(260, 8%, 14%);
  }

  .webnavbar .LS{
    margin-left: auto;
  }

  body {
    font-family: 'Poppins';
    margin: 0;
    text-align: center;
    overflow-x: hidden;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .title1{
    color: hsl(260, 8%, 14%);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
  }

  .subtitle1{
    color: hsl(0, 0%, 75%);
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
  }

  .button{
    background-color:hsl(180, 66%, 49%);
    border: none;
    color:white;
    display: inline-block;
    font-weight: 700;
    margin: 4px 0px;
    text-align: center;
    text-decoration: none;
  }

  .buttonG{
    border-radius: 35px;
    font-size: 20px;
    margin-bottom: 100px;
    padding: 15px 30px 15px 30px;
  }

  .buttonS{
    border-radius: 35px;
    font-size: 18px;
    padding: 15px 30% 15px 30%;
  }

  button:hover{
    background-color: #9BE3E2;
  }

 .img{
    width: 160%;
  }

 #inputRow{
    align-items: center;
    display: flex;
  }
  
 #inputBox{
    background-color: hsl(257, 27%, 26%);
    background-image: url('images/bg-shorten-mobile.svg');
    background-position: top right;
    background-repeat: no-repeat;
    border-radius: 15px;
    left: 50%;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    transform: translate(-50%);
  }

 .inputLink{
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    text-align: left;
  }

 .isEmpty{
    border-color: hsl(0, 87%, 67%);
    border-radius: 10px;
    border-width: 3px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    text-align: left;
  }

 .alertMessage{
    color: hsl(0, 87%, 67%);
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    margin-left: 10px;
    text-align: left;
  }

 .buttonSh{
    align-self: center;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 14px 92px 14px 92px;
  }

 #containerG{
    background-color: hsl(225, 33.3%, 95.3%);
    width: 100%;
  }

 .title2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 120px;
  }

  .subtitle2{
    margin-top: 0;
    color: hsl(0, 0%, 75%);
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
  }

  #containerLinks .card{
    align-self: center;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom:-40px;
    margin-top: 65px;
    padding:14px 21px;
  }

  .card .url{
    border-bottom: 1px solid hsl(0, 0%, 75%);
    color: black;
    font-weight: 500;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 5px;
  }

  .card .surl{
    color: hsl(180, 66%, 49%);
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
    border: none;
  }

  #containerLinks .button{
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 295px;
  }

  .copied{
    background-color: hsl(257, 27%, 26%);
  }

  .card{
    background-color:white;
    font-weight: 500;
    margin: 90px 25px 70px 25px;
    padding: 40px 25px 40px 25px;
    position: relative;
    width: 280px;
  }

  .title3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .subtitle3{
    color: hsl(0, 0%, 75%);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
  }

  #containerBoost{
    background-color: hsl(257, 27%, 26%);
    background-image: url(images/bg-boost-mobile.svg);
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 100%;
  }

  #cardsRow img{
    background-color: hsl(257, 27%, 26%);
    border-radius: 50px;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -42px;
  }

  .line{
    background-color: hsl(180, 66%, 49%);
    left: 50%;
    margin-top: -70px;
    padding: 50px 4px 10px 4px;
    position: absolute;
    transform: translate(-50%);
  }

  .title4{
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top:100px;
    text-align: center;
  }

  .buttonGB{
    align-self: center;
    border-radius: 45px;
    font-size: 20px;
    height: 60px;
    margin-bottom: 90px;
    margin-top: 18px;
    padding: 14px 18px;
    width: 200px;
  }

  .buttonGB:hover{
    background-color: #9BE3E2;   
  }

  #containerFooter{
    background-color: hsl(260, 8%, 14%);
    margin-top: 0;
    width: 100%;
  }

  .footerLogo{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(172deg) brightness(106%) contrast(105%);
    margin-top: 50px;
  }

  #containerFooter .card{
    background-color: hsl(260, 8%, 14%);
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px 25px 0px 25px;
  }

  .card p{
    color:white;
    font-weight: 700;
    text-align: center;
  }

  ul{ 
    padding-left: 0;
  }

  li{
    color: hsl(0, 0%, 75%);
    font-size: 15px;
    list-style: none;
    margin-bottom: 6px;
    margin-top: 6px;
  }

  li:hover{
    color: hsl(180, 66%, 49%);
  }

  svg{
    fill:#FFF;
  }

  svg:hover {
    fill: #2acfcf;
  }

  .card a{
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: 768px){
    .topnav{
      display: none;
    }

    .webnavbar{
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    #imageRow{
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 104px;
    }

    .working-image{
      padding-right: 115px;
      margin-left: 4px;
    }

    .sectiontitle1{
      padding-left: 92px;
    }

    .sectiontitle1, .title1, .subtitle1{
      text-align: left;
    }

    .title1{
      font-size: 75px;
    }

    .subtitle1{
      font-size: 22px;
      padding-right: 30px;
    }

    .buttonS{
      border-radius: 35px;
      font-size: 16px;
      padding: 8px 20px 8px 20px;
      align-self: unset;
    }

    #inputBox{
      background-image: url('images/bg-shorten-desktop.svg');
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      height: 168px;
      width: 1080px;
    }

    .inputLink{
      margin-bottom: unset;
      margin-top: unset;
      padding-top: 15px;
      text-align: left;
      width: 750px;
    }

    .isEmpty{
      border-color: hsl(0, 87%, 67%);
      border-width: 3px;
      font-size: 17px;
      font-weight: 500;
      margin-bottom: unset;
      padding-top: 15px;
      margin-top: unset;
      text-align: left;
      width: 750px;
    }

    .alertMessage{
      order:3;
    }

    .buttonSh{
      margin-bottom: 0;
      margin-top: 0;
    }

    #containerLinks .card{
      width: 1080px;
      display: flex;
      align-items: center;
    }

    .card .url{
      border: none;
    }

    .card .surl{
      margin-left: auto;
    }
    
    #containerLinks .button{
      width: 100px;
      margin-left: 10px;
    }

    #featuresRow{
      align-self: center;
      width: 520px;
    }

    #cardsRow{
      display: flex;
      justify-content: center;
    }

    #cardsRow .card{
      width: 280px;
      height: 190px;
      text-align: left;
    }

    .card1{
      margin: 60px 25px;
    }

    .card3{
      margin: 120px 25px;
    }

    #cardsRow img{
      left: 20%;
    }

    .line{
      height: 8px;
      width: 40px;
      margin-left: -25px;
      margin-right: -25px;
      margin-top: 250px;
      left: auto;
      padding: 0;
      position: static;
      transform: none;
    }

    #containerBoost{
      background-image: url('images/bg-boost-desktop.svg');
      height: 250px;
    }

    .title4{
      font-size: 38px;
    }

    .background-footer{
      background-color: hsl(260, 8%, 14%);
    }

    #containerFooter{
      flex-direction: row;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    .footerLogo{
      padding-right: 250px;
    }

    .card p{
      text-align: left;
    }

    .social{
      padding-top: 50px !important;
    }

    #containerFooter .card{
      text-align: left;
      width: 190px;
      padding: 30px 0px 0px 0px;
      margin: unset;
    }
  }